@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway&display=swap");

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

a {
  text-decoration: none;
  color:unset;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  // -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background: none;
}

button {
  border-radius: 0;
  border: none;
  background: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body {
  font-family: "Onest";
  background: #F3EFEB;
  overflow-x: hidden;
}

// Переменные
:root {
  --bg-header: rgba(255, 255, 255, 0.6980392157);

  --Accent: #36C811;
  --Hovering: #33E905;
  --Pressing: #39AC1C;

  --Grey1: #AEB2AD;
  --Grey2: #DADADA;
  --White-elements: #FFF;

  --Text: #383434;
  --Black: #1D1E1D;
  --White-text: #FFF;

  --padding-ratio: 0.08333;
  --font-family-main: Onest, serif;

  --font-size-s: 15px;
  --font-line-s: 21px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 20px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
}



.b-f {
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-h {
  overflow: hidden;
}

.button-more {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    margin-top: 8px;
    gap: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--Accent, #36C811);
  }
}

.mob-item {
  @media (max-width: 767px) {
    display: flex !important;
  }
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.head-title {
  position: relative;
  .head-title__title {
    position: relative;
    z-index: 1;
    font-size: 125px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px;
    color: var(--Black);
    text-align: center;
    @media (max-width: 1439px) {
      font-size: 68px;
      line-height: 120%;
    }
    @media (max-width: 767px) {
      line-height: 110%;
      font-size: 38px;
    }
  }
  
  .head-title__ellipse {
    z-index: 0;
    position: absolute;
    width: 255px;
    height: 255px;
    @media(max-width: 1439px) {
      width: 155px;
      height: 155px;
    }
    @media(max-width: 767px) {
      width: 85px !important;
      height: 85px;
    }
    .head-title__ellipse-img {
      width: 100%;
      height: 100%;
      // max-width: 225px;
      // width: 100%;
      // min-height: 80px;
      // height: 100%;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 43;
  background: var(--bg-header);
  
  .container-header {
    width: 100%;
    max-width: 1920px;;
    height: 100%;
    justify-content: space-between;
    padding: 30px calc(var(--padding-ratio) * 100%);
    @media (max-width: 1439px) {
      padding: 16px 24px;
    }
    @media (max-width: 767px) {
      padding: 8px 6px;
    }

    .menu {
      position: fixed;
      z-index: 100;
      top: 0;
      left: -182px;
      width: 181px;
      height: 100%;
      transition: left 0.4s ease-in-out;
      .menu-block {
        width: 100%;
        height: 100%;
        background: #FAF7F7;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
        gap: 38px;
        .menu__navigate {
          width: 100%;
          justify-content: flex-start;
          padding-left: 18px;
          .menu__navigate-list {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            .menu__list-item {
              justify-content: flex-start;
              
              cursor: pointer;
              color: var(--Black);
              width: 100%;
              &:hover {
                color: var(--Hovering);
              }
              &:active {
                color: var(--Pressing)
              }
            }
            .menu__list-item a {
              text-align: start;
              cursor: pointer;
              color: var(--Black);
              width: 100%;
              font-family: Onest;
              font-size: 15px;
              font-weight: 900;
              line-height: 19px;
              &:hover {
                color: var(--Hovering);
              }
              &:active {
                color: var(--Pressing)
              }
            }

            .menu__list-item {
              text-align: center;
              width: 100%;
            }
          }
        }
      }
      .menu__overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        transition: background-color 0.4s ease-in-out;
        display: none;
      }
      .menu__overlay.active {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .menu.active {
      left: 0;
    }

    .container-header__burger-menu {
      display: none;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: 32px;
        height: 32px;
        margin: 12px;
      }
      .burger-menu__icon {
        border: 3px solid black;
        width: 100%;
      }
    }

    .container-header__logo {
      cursor: pointer;
      width: 275px;
      height: 100%;
      background-repeat: no-repeat;
      @media (max-width: 1439px) {
        width: 148px;
      }
      @media (max-width: 767px) {
        display: none;
      }
      .container-header__logo-img {
        
      }
    }
    
    .container-header__nav {
      .nav__list {
        gap: 22px;
        @media (max-width: 1439px) {
          gap: 0px;
        }
        @media (max-width: 767px) {
          display: none;
        }
        .list__nav-item {
          cursor: pointer;
          color: var(--Text);
          padding: 10px;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          @media (max-width: 1439px) {
            font-size: 15px;
            padding: 8px;
          }
        }
        .list__nav-item:hover {
          color: var(--Accent);
        }
        .list__nav-item:active {
          color: var(--Pressing)
        }
      }
    }

    .container-header__block-w-button {
      width: auto;
      gap: 33px;
      @media (max-width: 1439px) {
        gap: 16px;
      }
      .block-w-button__langs {
        display: inline-flex;
        @media (max-width: 767px) {
          display: none;
        }
        .block-w-button__langs-item {
          cursor: pointer;
          width: 50px;
          height: 50px;
          padding: 10px;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          color: var(--Grey2);
          @media (max-width: 1439px) {
            width: 40px;
            height: 40px;
            font-size: 15px;
          }
        }
        .block-w-button__langs-item:hover {
          color: var(--Hovering);
        }
        .block-w-button__langs-item:active {
          color: var(--Pressing)
        }
        .block-w-button__langs-item__active {
          color: var(--Text) !important;
        }
      }
      .container-header__call {
        .container-header__call-button {
          cursor: pointer;
          a {
            text-decoration: none;
            color: var(--White-text);
            h4 {
              height: 50px;
              padding: 12px 24px;
              color: var(--White-text);
              font-size: 24px;
              font-weight: 900;
              border-radius: 30px;
              background: var(--Accent);
              @media (max-width: 1439px) {
                display: none;
              }
            }
          }
        }

        .container-header__call-button:hover {
          a h4 { 
            background: var(--Hovering);
          }
        }

        .container-header__call-button:active {
          a h4 {
            background: var(--Pressing);
          }
        }

        .container-header__phone-icon {
          display: none;
          @media(min-width: 768px) and (max-width: 1439px) {
            display: flex;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            fill: var(--Accent);
            border:none;
          }
          @media (max-width: 767px) {
            display: flex;
            width: 40px;
            height: 40px;
            rect {
              fill: rgba(255, 255, 255, 0);
            }
            path {
              fill: var(--Accent);
            }
          }
        }

        .container-header__phone-icon:hover {
          fill: var(--Hovering);
          @media(max-width: 767px) {
            path {
              fill: var(--Hovering);
            }
          }
        }

        .container-header__phone-icon:active {
          fill: var(--Pressing);
          @media(max-width: 767px) {
            path {
              fill: var(--Pressing);
            }
          }
        }
      }
    }
  }
}

.fixed-nav {
  position: fixed;
  z-index: 100;
  top: 70vh;
  left: 95vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media (max-width: 1439px) {
    display: none;
  }
  .fixed-nav-item a{
    cursor: pointer;
    fill: var(--Accent);
  }
  .fixed-nav-item:hover a{
    fill: var(--Hovering);
  }
  .fixed-nav-item:active a{
    fill: var(--Pressing);
  }
}

.global-wrapper {
  width: 100%;
  margin: 110px auto 0 auto;
  @media (max-width: 1439px) {
    margin-top: 84px;
  }
  @media (max-width: 767px) {
    margin-top: 72px;
  }
}

.about-block {
  width: 100%;
  .about-block-container {
    width: 100%;
    max-width: 1920px;;
    padding: 100px calc(var(--padding-ratio) * 100%);
    @media (max-width: 1439px) {
      padding: 50px 24px;
    }
    @media (max-width: 767px) {
      padding: 40px 16px;
    }
  }
  .about-block__main {
    width: 100%;
    gap: 415px;
    align-items: flex-start;
    @media(max-width: 1439px) {
      gap: 215px;
    }
    @media(max-width: 767px) {
      flex-direction: column;
      gap: 30px;
    }
    .about-block__main-title {
      color: var(--Black);
      font-size: 64px;
      font-weight: 900;
      line-height: 70px;
      @media(max-width: 1439px) {
        font-size: 32px;
        line-height: 35px;
      }
      @media(max-width: 1439px) {
        font-size: 24px;
        line-height: 26px;
      }
    }
    .about-block__main-text {
      flex-direction: column;
      align-items: flex-start;
      gap: 55px;
      color: var(--Text);
      font-size: 24px;
      font-weight: 400;
      line-height: 34px;
      @media (max-width: 1439px) {
        font-size: 16px;
        line-height: 22px;
      }
      @media(max-width: 767px) {
        gap: 30px;
        font-size: 15px;
        line-height: 21px;
      }
    }
    .about-block__button-order {
      
      img {
        @media (max-width: 1439px) {
          width: 176px;
        }
      }
    }
  }
}

.about-block__button-order {
  .button-order-item {
    fill: var(--Accent);
    width: 305px;
    height: 84px;
    @media(max-width: 1439px) {
      width: 176px;
      height: 48px;
    }
    @media(max-width: 767px) {
      width: 169px;
    }
  }

  .button-order-item:hover {
    fill: var(--Hovering);
  }

  .button-order-item:active {
    fill: var(--Pressing);
  }
}

.services {
  width: 100%;
  background: var(--White-elements);
  .services-container {
    max-width: 100%;
    max-width: 1920px;;
    flex-direction: column;
    padding: 160px calc(var(--padding-ratio) * 100%);
    gap: 160px;
    @media(min-width: 1440px) and (max-width: 1715px) {
      --padding-ratio: 0.0052;
    }
    @media(max-width: 1439px) {
      padding: 60px 24px;
    }
    @media(max-width: 767px) {
      padding: 50px 16px;
    }
    @media(max-width: 1439px) {
      gap: 64px;
    }
    @media(max-width: 767px) {
      gap: 48px;
    }
    .services-block-info {
      flex-direction: column;
      align-items: flex-end;
      gap: 64px;
      @media(max-width: 1439px) {
        gap: 32px;
      }
      .services-block-w-items {
        align-items: flex-start;
        align-content: flex-start;
        gap: 80px 20px;
        flex-wrap: wrap;
        @media(max-width: 1439px) {
          gap: 32px 16px;
        }
        @media(max-width: 767px) {
          flex-direction: column;
          gap: 8px;
        }
        .services-block-w-items__item {
          flex: 0 0 calc(33.1% - 10px);
          width: 100%;
          padding: 10px 0px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 30px;
          color: var(--Text);
          @media(max-width: 767px) {
            padding: 0;
            gap: 4px;
            h3:before {
              content: '';
              display: inline-block;
              width: 8px;
              height: 8px;
              margin-right: 8px;
              background-color: var(--Accent);
              border-radius: 50%;
            }
          }
          svg {
            width: 80px;
            height: 80px;
            @media(max-width: 1439px) {
              width: 48px;
              height: 48px;
            }
            @media(max-width: 767px) {
              display: none;
            }
          }

          h3 {
            font-size: 40px;
            font-weight: 900;
            line-height: 40px;
            @media(max-width: 1439px) {
              font-size: 24px;
              line-height: 24px;
            }
            @media(max-width: 1439px) {
              font-size: 20px;
            }
          }

          span {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            @media(max-width: 1439px) {
              font-size: 16px;
            }
            @media(max-width: 767px) {
              font-size: 15px;
            }
          }
        }
      }
    }
    .services__button-order {
      width: 100%;
      justify-content: flex-end;
      @media(max-width: 1439px) {
      }
      @media(max-width: 767px) {
        justify-content: center;  
      }
      img {
        width: 305px;
        @media(max-width: 1439px) {
          width: 176px;
        }
      }
    }
  }
}

.services__button-order {
  .button-order-item {
    fill: var(--Accent);
    width: 305px;
    height: 84px;
    @media(max-width: 1439px) {
      width: 176px;
      height: 48px;
    }
    @media(max-width: 767px) {
      width: 169px;
    }
  }

  .button-order-item:hover {
    fill: var(--Hovering);
  }

  .button-order-item:active {
    fill: var(--Pressing);
  }
}

.examples {  
  width: 100%;
  .examples-container {
    width: 100%;
    max-width: 1920px;;
    padding: 160px calc(var(--padding-ratio) * 100%);
    gap: 140px;
    flex-direction: column;
    @media (max-width: 1440px) {
      gap: 64px;
      padding: 60px 24px;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 50px 16px;
      gap: 48px;
    }
    .head-title {
      @media(max-width: 425px) {
        width: 275px;
      }
    }
    .examples__images {
      width: 100%;
      overflow: hidden;
      .b-h {
        width: 100%;
        border-radius: 24px;
        height: auto;
        
        @media(min-width: 768px) {
          width: auto;
        }
        @media(max-width: 1440px) {
          border-radius: 16px;
        }

        .zoom-wrapper {
          width: 100%;
          height: 100%;
          @media(max-width: 1439px) {
            height: 314px;
          }
          @media(max-width: 767px) {
            height: 220px;
          }
        }

        .zoom-wrapper:hover {
          @media(min-width: 768px) {
            transition: 1s;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.contacts {
  width: 100%;
  background: var(--White-elements);
  .contacts-container {
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    padding: 160px calc(var(--padding-ratio) * 100%);
    gap: 140px;
    @media(min-width: 1440px) and (max-width: 1715px) {
      --padding-ratio: 0.0055;
    }
    @media(max-width: 1439px) {
      gap: 50px;
      padding: 60px 24px;
    }
    @media(max-width: 767px) {
      gap: 28px;
      padding: 50px 15px;
    }
    .head-title {
      z-index: 2;
      .head-title__title {
        line-height: 100%;
      }
    }
    .contacts__art {
      gap: 114px;
      @media(max-width: 1439px) {
        gap: 24px
      }
      @media(max-width: 767px) {
        flex-direction: column;
      }
      .contacts__photo-img {

        img {
          width: auto;
          height: 503px;
          @media(max-width: 1439px) {
            height: 357px;
          }
          @media(max-width: 767px) {
            height: 246px;
          }
          @media(max-width: 375px) {
            height: 200px;
          }
        }
      }

      .contacts__description {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        color: var(--Text);
        @media(max-width: 1439px) {
          gap: 16px;
        }
        @media(max-width: 767px) {
          gap: 8px;
        }
        .contacts__name {
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 58px;
          @media(max-width: 1439px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 8px;
          }
        }

        .contacts__article p{
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 33px;
          @media(max-width: 1439px) {
            font-size: 16px;
          }
          @media(max-width: 767px) {
            
          }
        }

        .contacts__icons {
          margin-top: 18px;
          justify-content: flex-start;
          gap: 40px;
          @media(max-width: 1439px) {
            gap: 24px;
            margin-top: 8px;
          }
          @media(max-width: 767px) {
            margin-top: 16px;
            justify-content: center;
          }
          .contacts__icons-item a{
            fill: var(--Accent);
            svg {
              width: 84px;
              height: 84px;
              @media(max-width: 1439px) {
                width: 48px;
                height: 48px;
              }
            }
          }
          .contacts__icons-item:hover a{
            fill: var(--Hovering);
          }
          .contacts__icons-item:active a{
            fill: var(--Pressing);
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  .footer-container {
    width: 100%;
    max-width: 1920px;
    background: var(--White-elements);
    padding: 8.5% 8.4% 5.2% 8.4%;
    flex-direction: column;
    gap: 100px;
    @media(max-width: 1439px) {
      padding: 14% 4.5%;
      gap: 24px;
    }
    .head-title .head-title__title h1 {
      @media(max-width: 1439px) {
        width: 70%;
      }
    }

    .footer__images {
      margin-top: 60px;
      position: relative;
      width: 100%;
      overflow: hidden;
      @media(max-width: 1439px) {
        margin-top: 0;
        margin-bottom: 26px;
      }
      .b-h {
        border-radius: 24px;
        @media(max-width: 1440px) {
          border-radius: 16px;
        }
        
        .zoom-wrapper {
          width: auto;
          height: 244px;
        }

        .zoom-wrapper:hover {
          @media(min-width: 768px) {
            transition: 1s;
            transform: scale(1.1);
          }
        }
      }

      .owl-nav {
        width: 100%;
        position: absolute;
        top: 50%; 
        .owl-prev {
          background: rgba(255,255, 255,0.8);
          position: absolute;
          padding: 20px !important;
          border-radius: 100%;
          left: 0;
          top: -40px;
        }
        .owl-next {
          background: rgba(255,255, 255,0.8);
          position: absolute;
          padding: 20px !important;
          border-radius: 100%;
          top: -40px;
          right: 0;
        }
        .disabled {
          display: none;
        }
      }
    }
    .footer__block-w-contacts {
      width: 100%;
      align-items: flex-start;
      .footer__block-left {
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        @media(max-width: 1439px) {
          width: 100%;
          gap: 24px;
        }
        a {
          width: 100%;
          img {
            width: 593px;
            @media(max-width: 1439px) {
              width: 100%;
            }
          }
        }
  
        .footer__block {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          @media(max-width: 1439px) {
            display: flex;
          }
  
          .footer__navigate-list {
            gap: 8px 16px;
            .list-item {
              font-size: 16px;
              line-height: 22px;
              color: var(--Text);
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .footer__icons {
            gap: 12px;
            .footer__icons-item a {
              cursor: pointer;
              fill: var(--Grey1);
              border: 1px solid var(--Grey1);
              border-radius: 50px;
              width: 53px;
              height: 53px;
              @media(max-width: 1439px) {
                width: 39px;
                height: 39px;
              }
              svg {
                @media(max-width: 1439px) {
                  width: 38px;
                  height: 38px;
                }
              }
            }
            .footer__icons-item:hover a{
              fill: var(--Accent);
              border: 1px solid var(--Hovering);
            }
            .footer__icons-item:active a{
              fill: var(--Pressing);
              border: 1px solid var(--Pressing);
            }
          }
          .footer__text {
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
          }
        }
  
        .footer__box-contacts {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          gap: 13px;
          @media(max-width: 1439px) {
            display: flex;
          }
          h1 {
            font: var(--font-l);
            font-weight: 900;
          }
        }
  
        .footer__list {
          flex-direction: column;
          align-items: flex-start;
          gap: 22px;
          @media(max-width: 1439px) {
            gap: 16px;
          }
          .list-item {
            font: var(--font-l);
            color: var(--Text);
            &:hover {
              text-decoration: underline;
            }
            @media(max-width: 1439px) {
              font-size: 16px;
              line-height: 22px;
            }
            a {
  
            }
          }
        }
      }
  
      .footer__block-right {
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        @media(max-width: 1439px) {
          display: none;
        }
        .footer__box-links {
          gap: 24px;
          .footer__icons-item a {
            cursor: pointer;
            fill: var(--Grey1);
            border: 1px solid var(--Grey1);
            border-radius: 50px;
            width: 53px;
            height: 53px;
            @media(max-width: 1439px) {
              width: 39px;
              height: 39px;
            }
            svg {
              @media(max-width: 1439px) {
                width: 38px;
                height: 38px;
              }
            }
          }
          .footer__icons-item:hover a{
            fill: var(--Accent);
            border: 1px solid var(--Hovering);
          }
          .footer__icons-item:active a{
            fill: var(--Pressing);
            border: 1px solid var(--Pressing);
          }
        }
  
        .footer__box-contacts {
          flex-direction: column;
          align-items: flex-start;
          gap: 36px;
          h1 {
            font-size: 64px;
            font-weight: 900;
            line-height: 64px;
          }
        }
  
        .footer__box-policy {
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          a {
            text-decoration: underline;
          }
  
          span {
  
          }
        }
      }
    }
  }
}